@use "sass:map";

$primary: #ff6740;
$secondary: #FF3E0D;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-500: #adb5bd;

$navbar-nav-link-padding-x: 1rem;
$navbar-light-toggler-border-color: transparent;
$navbar-light-active-color: $primary;
$navbar-light-hover-color: $secondary;

$navbar-toggler-padding-x: .85rem;
$navbar-toggler-border-radius: 1rem;
$navbar-toggler-focus-width: 1px;

$input-border-width: 0;

$focus-ring-width: .20rem;

$btn-padding-x: 2rem;

$btn-border-radius: 1rem;
$btn-border-radius-sm: .8rem;

$btn-padding-x-sm: 1rem;

$carousel-control-color: $secondary;

$link-color: white;

@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

$max-widths: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

html,body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

* {
    scrollbar-width: auto;
    scrollbar-color: $primary #ffffff;
}
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 5px;
    border: 3px solid transparent;
}

nav.navbar {
    background-color: transparent;
    transition: background-color .3s ease-in;
    animation: navbar-anim 1s ease-in-out;

    @keyframes navbar-anim {
        from {
            opacity: 0;
            transform: translateY(-100%);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0; left: 0; right: 0;
        height: 57px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-bottom: 1px solid #ffc2b3;
        z-index: -1;
    }

    .active {
        font-weight: 600;
    }
}
nav.navbar.active {
    background-color: $gray-200;
    transition: background-color .3s ease-in;
}

section.header {
    $transition-time: 1s;

    h1 {
        animation: header-headers-anim $transition-time ease-in-out;
        
        @keyframes header-headers-anim {
            from {
                opacity: 0;
                transform: translateY(50px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    position: relative;

    h1,h2,h3,h4,h5,h6 {
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .header-background {
        z-index: -1;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-image: url("../img/home/header.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &::before {
            content: "";
            z-index: 1;
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            background-color: white;
            opacity: 50%;
        }
    }
    

    .header-content {
        $border-radius: .375rem;

        .header-container {
            margin-top: 57px;

            .carousel {
                animation: header-carousel-anim $transition-time ease-in-out;

                @keyframes header-carousel-anim {
                    from {
                        opacity: 0;
                        transform: translateY(75px);
                    }
                    to {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }

                .col-xl {
                    height: 400px;
                    overflow-y: auto;
                    background-color: rgba($gray-100, .3);
                    backdrop-filter: blur(5px);
                    -webkit-backdrop-filter: blur(5px);
    
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
    
                img {
                    height: 400px;
                    width: 250px;
                    object-fit: cover;
                    border-radius: $border-radius
                }
            }
        }
    }
}

section.recommendation-section {
    $start-transition-time: 1s;

    h3 {
        animation: recommendation-section-header-1-anim $start-transition-time ease-in-out;
        
        @keyframes recommendation-section-header-1-anim {
            from {
                opacity: 0;
                transform: translateY(50px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    h1,h2,h3,h4,h5,h6 {
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .recomended-list {
        $transition-time: .3s;

        animation: recommended-list-anim $start-transition-time ease-in-out;
        
        @keyframes recommended-list-anim {
            from {
                opacity: 0;
                transform: translateY(75px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .card {
            $shadow-color: black;
    
            position: relative;
            transform: scale(100%);
            transition: transform $transition-time ease-out;
            width: 22rem;
            max-height: 400px;
            overflow-y: scroll;
    
            &::-webkit-scrollbar {
                display: none;
            }
            
            @media screen and (max-width: map.get($max-widths, sm)) {
                width: 100%;
            }
    
            $img-width: 100%;
            $img-height: 200px;
    
            img {
                width: $img-width;
                height: $img-height;
                object-fit: cover;
            }
    
            .img-overlay {
                position: absolute;
                width: $img-width;
                height: $img-height;
                background-color: transparent;
                box-shadow: inset -10px -20px 100px $shadow-color;
                transition: box-shadow $transition-time ease-out;
    
                &::before {
                    content: "";
                    position: absolute;
                    width: $img-width;
                    height: $img-height;
                    background-color: transparent;
                    box-shadow: inset 10px 20px 100px $shadow-color;
                    transition: box-shadow $transition-time ease-out;
                }
            }
    
            .mangatag {
                font-size: 14px;
            }
    
            &:hover {
                transform: scale(103%);
                transition: transform $transition-time ease-out;
    
                .img-overlay {
                    box-shadow: none;
                    transition: box-shadow $transition-time ease-out;
    
                    &::before {
                        content: "";
                        box-shadow: none;
                        transition: box-shadow $transition-time ease-out;
                    }
                }
            }
        }

        @media screen and (max-width: map.get($max-widths, sm)) {
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;

            .card {
                max-height: 100%;
            }
        }
    }
}